* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  transition: all 0.5s;
  overflow-x: hidden;
}
.first {
  background-image: url(Deadpool.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.second h1 {
  text-align: center;
  font-size: 3rem;
  padding: 10px;
  color: aliceblue;
}
nav {
  width: 100%;
  position: relative;

  padding: 10px;
  display: flex;
  justify-content: space-between;
}
nav img {
  width: 60px;
}
nav ul {
  list-style: none;
  color: white;
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s;
}
nav ul li {
  cursor: pointer;
  transition: all 0.5s;
}
a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
a:hover {
  color: teal;
}
.fixedNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: white;
  color: black;
}
.fixedNav ul li a {
  color: black;
}
ul li a:hover {
  color: teal;
}
.second {
  width: 100vw;
  height: 100vh;
  background: rgb(1, 217, 199);
  color: white;
}
.third {
  width: 100vw;
  height: 100vh;
  background: rgb(251, 254, 254);
  color: dodgerblue;
  text-align: center;
  font-size: 3rem;
}
.footer {
  height: auto;
  background: navy;
  color: white;
  padding: 15px 50px;
  word-spacing: 5px;
  font-size: 1rem;
}
#upArrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: teal;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
  display: none;
}
#upArrow:hover {
  padding: 1px 5px 9px;
  background: rgb(3, 190, 190);
}
.navHid {
  display: flex;
}
.column {
  display: flex;
  flex-direction: row;
}
#menu {
  position: fixed;
  color: white;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 20px;
  display: none;
}

@media (max-width: 600px) {
  nav {
    display: none;
    background: white;
    width: 100%;
  }
  .navHid {
    display: block;
    animation-name: nav-anime;
    animation-duration: 0.5s;
    transition: all 0.5s;
  }
  @keyframes nav-anime {
    from {
      top: -200px;
    }
    to {
      top: 0;
    }
  }
  #menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    color: teal;
    cursor: pointer;
    z-index: 1;
  }
  .column {
    flex-direction: column;
    background: white;
    color: black;
    text-align: left;
  }
  .column li {
    text-align: left;
    width: 80%;
    height: 40px;
  }
  .column li a {
    color: black;
  }
}
