* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: black;
  height: 100vh;
}

h1 {
  font-size: 60px;
  margin-bottom: 30px;
}
.container {
  width: 90%;
  max-width: 600px;
  margin: 10% auto;
  padding: 40px 50px;
  border: 1px solid black;
  border-radius: 15px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/bob.jpg");
  background-size: cover;
  box-shadow: 5px 5px 20px whitesmoke;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.buttons img {
  width: 40px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s;
}
.buttons img:hover {
  box-shadow: 4px 4px 6px white;
}
.buttons img:nth-child(2) {
  width: 70px;
  height: 70px;
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
  .buttons img {
    width: 30px;
    height: 30px;
    margin: 20px;
  }
  .buttons img:nth-child(2) {
    width: 50px;
    height: 50px;
  }
}
